<div class="container-login">
    <form class="myform" method="POST" action="/account/login">
        <h2>Đăng nhập</h2>
        {{#if err}}
        <div class="alert alert-danger" role="alert">
            <h2 style="font-size: 16px;">{{msg}}</h2>
        </div>
        {{/if}}
        <input type="text" placeholder="Admin name" name="username" style="padding-left: 20px;">
        <input type="password" placeholder="Password" name="password" style="padding-left: 20px;">
        <button type="submit">Đăng nhập</button>
    </form>
    <div class="image">
        <img src="/img/logoo.png" width="300px">
    </div>
</div>