{{#section 'js'}}
<script>
    
    $('#content').on('submit', function(event) {
        event.preventDefault();
        if ((validate()) ) {
            if(validatePrice()) {
                $('#content').off('submit').submit();
            } else {
                alert('Không thành công! Giá không hợp lệ!')
            }
        } else {
            alert('Không thành công! Vui lòng kiểm tra nhập đầy đủ thông tin');
        }
    })

    function validate() {
        var price = document.getElementById("priceP").value;
        var name = document.getElementById("nameP").value;
        if (!name || !price) {
            return false;
        }
        return true;
    }
    function validatePrice() {
        var price = document.getElementById("priceP").value;
        for (var i = 0; i < price.length; i++) {
        if (price.charCodeAt(i) < 48 || price.charCodeAt(i) > 58) {
            return false;
        } 
        }
        if (price <=0 ) {
            return false;
        }
    return true;
}
</script>
{{/section}}

 <div class="container">
        <div class="grid">
            <div class="grid__row app-content">
                <div class="grid__column_1">
                    <nav class="category">
                        <a href="/admin" style="text-decoration: none;"><h3 class="trademark">Quản lý đơn hàng</h3></a>
                        <ul class="list-trademark">
                            <li class="name-trademark"><a href="/admin/?day=today">Trong ngày hôm nay</a></li>
                            <li class="name-trademark"><a href="/admin/?day=7day">Trong 7 ngày vừa qua</a></li>
                            <li class="name-trademark"><a href="/admin/?day=all">Cũ hơn</a></li>
                        </ul>
                    </nav>
                    <nav class="category">
                        <a href="/admin/editProduct" style="text-decoration: none;"><h3 class="trademark">Quản lý sản phẩm</h3></a>
                        <ul class="list-trademark">  
                            <li class="name-trademark"><a href="/admin/editProduct">Danh sách sản phẩm</a></li>
                        </ul>
                    </nav>

                </div>
     
                    <div class="container" >
    <form id="content" method="post">
        <div class="container_content">
            <div class="section_header">
                <div class="container_section_header">
                    <h2 class="section_title">Thêm sản phẩm</h2>
                </div>
            </div>
            
            <div class="add_product">
                <div class="col col1">                   
                    <div class="form-group">
                        <label class="product-info">Tên sản phẩm :</label>
                        <input type="text" class="form-control" id="nameP" name="nameP">
                    </div>
                    <div class="form-group note-shipping">
                        <label class="title-info">Thương hiệu sản phẩm</label>
                                <select class="form-control" id="brandP" name="brandP" style="background-color:  #1d1d1d; height : 30px" name="stt">
                                    <option value="Nike" id="brandP" name="brandP">Nike</option>
                                    <option value="Adidas" id="brandP" name="brandP">Adidas</option>
                                    <option value="Mizuno" id="brandP" name="brandP">Mizuno</option>
                                    <option value="Puma" id="brandP" name="brandP">Puma</option>
                                    <option value="Kamito" id="brandP" name="brandP">Kamito</option>
                                </select>
                    </div>
                    <div class="form-group">
                        <label for="" class="product-info">Miêu tả về sản phẩm :</label>
                        <textarea type="text" class="form-control" id="DescP" name="descP"></textarea>
                        {{!-- <input type="text" class="form-control" id="descP" name="descP"> --}}
                    </div>
                    <div class="form-group">
                        <label for="" class="product-info">Giá sản phẩm :</label>
                        <input type="text" class="form-control" id="priceP" name ="priceP">
                    </div>
                    <div class="form-group note-shipping">
                        <label class="title-info">Loại đinh :</label>
                                <select class="form-control" id="styleP" name="styleP" style="background-color:  #1d1d1d; height : 30px" name="stt">
                                    <option value="TF, Cỏ nhân tạo" id="styleP" name="styleP">TF, Cỏ nhân tạo</option>
                                    <option value="FG, Cỏ tự nhiên" id="styleP" name="styleP">FG, Cỏ tự nhiên</option>
                                </select>
                    </div>
                    <div class="list_orders" style="width:300px">
                        <table class="table_orders">
                            <thead>
                                <tr class="title-row">
                                    <th class="col1" style="color:yellow">Size</th>
                                    <th class="col6" style="color:yellow">Số lượng trong kho</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each list_size}}
                                <tr class="order_detail">
                                    <td class="">
                                        <span>{{size}}</span>
                                    </td>
                                    <td class="">
                                        <input class="form-size-control" type="number" min="0" max="100" name="size{{size}}" value={{quantity}}>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    
                    {{!-- <div class="img-group">Tải hình ảnh :
                        <input class="img-control" type="file" name="myImage" accept="image/*">
                        <input class="img-control" type="file" name="myImage" accept="image/*">
                        <input class="img-control" type="file" name="myImage" accept="image/*">
                        <input class="img-control" type="file" name="myImage" accept="image/*">
                        <input class="img-control" type="file" name="myImage" accept="image/*">
                        <input type="submit" value="Upload Photo">
                    </div> --}}
                </div>
            </div>

            <div class="button_add">
                <button class="btn-add" type="submit">Thêm</button>
            </div>
        </div>
    </form>
</div>
            </div>
        </div>
    </div>

