{{#section 'js'}} 
<script>
    
    $('#changePass').on('submit', function(event) {
        event.preventDefault();
        if (!validatePassword()) {
            alert('Mật khẩu chỉ chứa các kí tự a-z, A-Z, 0-9 và chứa ít nhất 6 kí tự!')
        } else if (!validateConfirmPass()) {
            alert('Xác nhận mật khẩu mới không chính xác!')
        } else if (validatePassword() && validateConfirmPass()){
            $('#changePass').off('submit').submit();
            //alert('Hợp lệ!')
        }
    })

    function validatePassword() {
        var pass = document.getElementById("newpassword").value;
        if (pass.length < 6) {
            return false;
        }
        for (var i = 0; i < pass.length; i++) {
            if (pass.charCodeAt(i) < 48 || (pass.charCodeAt(i) > 58 && pass.charCodeAt(i) < 65) || ( pass.charCodeAt(i) > 90 && pass.charCodeAt(i) < 97) || pass.charCodeAt(i) > 122) {
                return false;
            }
        }
        return true;
    }
    function validateConfirmPass() {
        var pass = document.getElementById("newpassword").value;
        var confirm = document.getElementById("confirm").value;
        if (pass == confirm) {
            return true;
        }
        return false;
    }

</script>
{{/section}}

<div class="container-login">
    <form class="myform" method="POST" action="/account/changepassword" id="changePass">
        <h2>Đổi mật khẩu</h2>
        {{#if err}}
        <div class="alert alert-danger" role="alert">
            <h2 style="font-size: 16px;">{{msg}}</h2>
        </div>
        {{/if}}
        <input type="password" placeholder="Nhập mật khẩu cũ" name="oldpassword">
        <input type="password" placeholder="Mật khẩu mới" name="newpassword" id="newpassword">
        <input type="password" placeholder="Xác nhận mật khẩu mới" name="confirm" id="confirm">
        <button type="submit">Cập nhật mật khẩu</button>
    </form>
    <div class="image">
        <img src="/img/logoo.png" width="300px">
    </div>
</div>