<div class="container">
            <div id="content">
                <div class="container_content">
                    <div class="section_header_tutorial">
                        <h1>Hướng dẫn đặt hàng</h1>
                        <i>Hướng dẫn đặt hàng/ soccerstore.vn- Giày bóng đá chính hãng Nike & Adidas</i>
                    </div>
                    <div class="list_order_tutorial">
                        <h2 class="item_1">1. Liên hệ qua facebook page: </h2>
                        <p>Facebook page chính thức của socccerstore.vn tại : <a
                                href="">https://www.facebook.com/quanganhyenhoa2310</a></p>
                        <h2 class="item_2">2. Đặt hàng trên website.</h2>
                        <p class="para_1">
                            – Truy cập www.soccerstore.vn
                            <br>
                            – Chọn sản phẩm muốn đặt theo các hướng dẫn sau.
                            <br>
                            1) Kiểm tra tình trạng sản phẩm.
                            <br>
                            2) Chọn kích size sản phẩm.
                            <br>
                            3) Click vào nút ” Thêm vào giỏ hàng ”
                            <br>
                            4) Nhập các thông tin liên hệ.
                            <br>
                            5) Click vào nút ” Gửi đơn hàng ”
                            <br>
                            3. Gửi thông tin liên hệ theo các cách.
                            <br>
                            – Click vào mục” Liên hệ ” và gửi các thông tin đầy đủ như : sản phẩm quan tâm, số điện
                            thoại liên hệ.
                            <br>
                            – Click pop up phía dưới trang, gửi các thông tin liên hệ đầy đủ như : sản phẩm quan tâm, số
                            điện thoại liên hệ.
                            <br>
                            – Click vào mục online support, sử dung Zalo hoặc skype để chat với người phụ trách.
                        </p>
                    </div>
                </div>
            </div>
        </div>