<div class="container">
            <div id="content">
                <div class="container_content">
                    <div class="section_header_tutorial">
                        <h1>Chính sách bán hàng</h1>
                        <i>Chính sách giao hàng/ soccerstore.vn- Giày bóng đá chính hãng Nike & Adidas</i>
                    </div>
                    <div class="list_order_tutorial">
                        <h2 class="item_1">1. Cước phí giao nhận hàng. </h2>
                        <p>– Vui lòng liên hệ với đại diện của soccerstore.vn để biết thêm chi tiết.</p>
                        <h2 class="item_2">2. Đặt hàng trên website.</h2>
                        <p class="para_1">
                            – Giao hàng miễn phí trong nôi thành Hà Nội: nhận hàng trong ngày.
                            <br>
                            – Giao hàng chuyển phát nhanh đi các tỉnh: từ 1-4 ngày
                            <br>
                            – Giao hàng chuyển phát đi các tỉnh siêu tốc: trong ngày
                            <br>
                            – Hoặc theo thỏa thuận, thống nhất giữa đại diện soccertore.vn với quý khách.
                        </p>
                        <h2 class="item_3">3. Chính sách bảo hành & đổi trả sản phẩm:</h2>
                        <p>Xem tại đây <a href="/warranty-policy">Click here</a></p>
                    </div>
                </div>
            </div>
        </div>