<div class="container">
            <div id="content">
                <div class="container_content">
                    <div class="section_header_tutorial">
                        <h1>Chính sách bảo hành & đổi trả</h1>
                    </div>
                    <div class="list_order_tutorial" style="color: #fff; font-size: 1.6rem;">
                        <h1 style="font-size: 2rem; font-weight: 400">I – CHÍNH SÁCH BẢO HÀNH</h1>
                        <h2 class="item_1">1.1 – Điều kiện bảo hành</h2>
                        <ul>
                            <li>Bảo hành các trường hợp do lỗi của nhà sản xuất (bung keo, đứt chỉ,…)</li>
                            <li>Còn đầy đủ phiếu mua hàng tại shop</li>
                            <li>Sản phẩm trong thời gian bảo hành</li>
                        </ul>
                        <h2 class="item_2">1.2 – Chính sách bảo hành</h2>
                        <ul>
                            <li>Sản phẩm lỗi của nhà sản xuất: Bảo hành 6 tháng</li>
                        </ul>
                        <table>
                            <tr>
                                <th>15 ngày đầu tiên</th>
                                <th>6 tháng đầu</th>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        – 1 đổi 1 (cùng mẫu, cùng màu, cùng size…). Trường hợp sản phẩm đổi hết hàng, khách hàng có thể đổi sang sản phẩm khác có giá trị tương đương, cao hơn hoặc thấp hơn không quá 30% giá trị sản phẩm lỗi.
                                    </p>
                                    Hoặc
                                    <p>
                                        Trong trường hợp Khách hàng không muốn đổi sang sản phẩm khác, Soccerstore.vn hoàn lại tiền giày với mức giá bằng 70% giá trị trên hóa đơn.
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        – Bảo hành sửa chữa, khắc phục, không ảnh hưởng tới chức năng của đôi giày.
                                    </p>
                                    Hoặc
                                    <p>
                                        Khách hàng chọn mua sản phẩm khác bất kỳ với giá được ưu đãi, thỏa thuận.
                                    </p>
                                </td>
                            </tr>
                        </table>
                        <h3 style="color:#ffe11b; font-size: 1.6rem;">Không áp dụng bảo hành đối với các trường hợp sau:</h3>
                        <p class="para_1">
                            1 . Sản phẩm lỗi của người sử dụng (gãy đinh, mòn đinh, ngập nước, tác dụng nhiệt, cọ xát vào vật cứng….).
                            <br>
                            2 . Sản phẩm sales từ 60% trở lên.
                            <br>
                            3. Sản phẩm sales 999k.
                            <br>
                            4. Găng tay thủ môn đã qua sử dụng.
                        </p>
                        
                        <h1 style="font-size: 2rem; font-weight: 400">II - CHÍNH SÁCH ĐỔI TRẢ</h1>
                        <h2>2.1 – Điều kiện đổi trả:</h2>
                        <ul>
                            <li>Sản phẩm còn nguyên vẹn: tem, tag, phiếu mua hàng, hộp.</li>
                            <li>Sản phẩm không có bất kỳ dấu hiệu sử dụng, chưa chạy, đi bộ, khởi động trên sân….</li>
                            <li>Sản phẩm trong thời hạn đổi trả</li>
                        </ul>
                        <h2>2.2 – Chính sách đổi trả:</h2>
                        <table style="width:100%">
                            <tr>
                                <th style="width: 50%">Đổi hàng</th>
                                <th style="width: 50%">Trả hàng</th>
                            </tr>
                            <tr>
                                <td style="width: 50%">
                                    <p>
                                        – Đối với các sản phẩm chưa vừa size: Đổi thoải mái đến khi vừa thì thôi, thời hạn đổi là 21 ngày. Có thể đổi size hoặc đổi mẫu tùy ý.
                                        <br>
                                        – Đối với các sản phẩm vừa nhưng chưa ưng ý: Đổi thoải mái trong vòng 14 ngày.
                                    </p>
                                </td>
                                <td style="width: 50%">
                                    <p>
                                        – Trả hàng trong vòng 7 ngày với giá bằng 80% trên hóa đơn.
                                        <br>
                                        – Hộp bị móp méo hoặc mất hộp: -5% giá trị tổng hóa đơn.
                                        <br>
                                        – Đối với giày Kids: Không trả hàng.
                                        <br>
                                        – Không áp dụng trả hàng với các sản phẩm sales từ 40% trở lên.
                                        <br>
                                        – Không áp dụng trả hàng với các sản phẩm sales 999k.
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>