.footer {
    padding: 106px 80px 0;
    color: #fff;
    background: #212121;
    display: flex;
}

.col-fourth {
    float: left;
    width: 25%;
}

.footer h2 {
    margin-bottom: 26px;
    margin-top: 0px;
    font-weight: 900;
    font-size: 18px;
}

.footer .logo-name {
    color: #ccc;
    font-size: 36px;
}

.footer .footer__col-first p {
    margin: 20px 0;
    font-size: 18px;
    color: #a9a9a9;
    line-height: 1.5;
}

.footer .footer__col-first span {
    font-size: 14px;
    margin: -4px 0;
    display: block;
    transition: color .3s ease;
    cursor: pointer;
}

.footer .footer__col-first span a {
    text-decoration: none;
    color: #fff;

    transition: color .3s ease;
}

.footer__contact {
    color: #fff;
}

.footer__contact span {
    line-height: 36px;
}

.footer .footer__col-first span:hover,
.footer .footer__col-first span:hover a {
    color: #3fd0d4;
}

.footer__col-first {
    padding-bottom: 30px;
}


.footer .footer__col--third {
    /* padding-left: 32px; */
    padding-right: 100px;
}

.footer .footer__col--third p {
    font-size: 14px;
    color: #a9a9a9;
    /* margin-bottom: 2rem; */
}

.footer__col--third .footer__send-username {
    height: 50px;
    width: 100%;
    position: relative;
}

.footer .footer__col--third .footer__send-username input {
    border: none;
    height: inherit;
    width: inherit;
    background-color: hsla(0, 0%, 100%, .25098039215686274);
    color: #fff;
    font-size: 14px;
    padding: 12px 16px 12px 47px;
    box-sizing: border-box;
    outline: none;
    border-radius: 3px;
}


svg {
    vertical-align: middle;
}


.footer__col--third .footer__send-email {
    height: 50px;
    width: 100%;
    position: relative;
}

.footer .footer__col--third .footer__send-email input {
    border: none;
    height: inherit;
    width: inherit;
    background-color: hsla(0, 0%, 100%, .25098039215686274);
    color: #fff;
    font-size: 14px;
    padding: 12px 16px 12px 47px;
    box-sizing: border-box;
    outline: none;
    border-radius: 3px;
}

.footer .footer__col--third .footer__send-email .icon-send,
.footer .footer__col--third .footer__send-username .icon-send {
    position: absolute;
    font-size: 14px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.footer .footer__send {
    margin-top: 28px;
    display: flex;
    height: 164px;
    flex-direction: column;
    justify-content: space-around;
}

.footer .footer__col--third .btn--subscribe {
    width: 242px;
    height: 50px;
    font-size: 14px;
    font-weight: 900;
    width: 95%;
    background-color: #ffe11b;
    border-radius: 3px;
}

.footer__col--second {
    margin-left: 60px;
}

.footer__col--second a {
    color: #fff;
    text-decoration: none;
    list-style: none;
    margin-bottom: 10px;
}

.footer__col--second li {
    list-style: none;
    line-height: 2;
    font-size: 14px;
}

.footer__col--second a:hover {
    color: #3fd0d4;
}

.footer-follow {
    padding-left: 0px;
}

.footer-follow li {
    list-style: none;
    justify-content: space-between;
    display: inline-block;
    margin: 0 10px;
}

.footer-follow i:hover {
    color: #3fd0d4;
}

.footer__col--fourth {
    margin-left: -20px;
}

.footer-follow__link {
    width: 30px;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}

.page-powered {
    text-align: center;
    font-size: 14px;
    margin: 80px auto 28px
}

.page-powered a {
    text-decoration: none;
    color: #fff;

    transition: color .2s ease-out;
}

.page-powered a:hover {
    color: #3fd0d4;
}
/* dong */
.outofstock {
    padding-top: 20px;
    padding-left: 50px;
}
.outofstock p {
    font-size: 3rem;
    color: red;
}