:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 55%;  /* 62.5% = 10px */
    background-color: #1d1d1d;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    /* font-size: 1.2rem; */
    font-size: 100%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    /* line-height: 1.6rem; */
    box-sizing: border-box;
    margin: 0 0;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.grid__column {
    padding-left: 12px;
    padding-right: 12px;
    width: 15%;
}
.container {
    background: #1d1d1d;
}
.home-product-item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 1rem;
    border-width: 2px;
    border-style: solid;
    border-color: #888;  
}
.home-product-item-img:hover {
    border-color: var(--while-color);
}
.home-product-item {
    background-color: #1d1d1d;
}
.home-product-item-name {
    color: #fff;
    font-weight: 400;
    
}
.home-product-item-name:hover {
    color: yellow;
}
.home-product-item-price {
    color: yellow;
    font-size: 1.6rem;
}
.category {
    background-color: #373a3c;
    font-size: 1.6rem;
    border-radius: 2px;
}
.trademark {
    color: yellow;
    font-weight: 200;
    padding: 16px;
    border-bottom: 1.5px solid #1d1d1d;
    margin: 0;
    
}
.list-trademark {
    list-style: none;
    text-align: none;
    margin: 0;
    padding: 16px;
}
.category .list-trademark a {  
   margin: 0;
   color: #fff;
    padding: 16px 0;
}
.name-trademark a {
    
    text-decoration: none;

}
.name-trademark {
    padding: 4px 0;
    font-weight: 400;
}
.name-trademark a:hover {
    color: yellow;
}

/*...*/
/* .header {
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10001;
    transition: all .8s ease;
} */

/* end base  */

.header .container {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header .header__row_1 .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px calc((100% - 1110px) / 2);
}

.header .logo-shop {
    width: 120px;
    min-width: 120px;
}

.header .cart {
    text-decoration: none;
}

.header .ti-shopping-cart {
    font-size: 15px;
    color: #fff;
}

.header .header__search-box {
    display: flex;
    min-width: 350px;
}

.header .input-search {
    width: 100%;
    padding: 5px 15px 5px 25px;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    background-color: #2e2e2e;
    color: #fff;
    font-weight: 400;
    font-size: 12.5px;
    font-family: Arial, Helvetica, sans-serif;
}

.header .input-search:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.input-search::placeholder { 
    color: #fff;
    opacity: 0.7;
}

.header .icon__search {
    height: 40px;
    width: 45px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    background-color: #2e2e2e;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
}

.header .ti-search {
    line-height: 2.5;
}

.header .header__navbar {
    border-bottom: 0.5px solid #303030;
    border-top: 0.5px solid #303030;
    font-size: 1.6rem;
}

.header .header__navbar-item {
    list-style-type: none;
    margin-right: 30px;
}

.header .header__navbar-item a {
    text-decoration: none;
    color: #fff;
}

.header .header__navbar-item .ti-angle-down {
    font-size: 10px;
}

.header .header__navbar-list {
    display: flex;
    padding: 0 0;
    line-height: 20px;
    margin: 15px 0;
}

.header .header__navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px calc((100% - 1110px)/2);
    position: relative;
}

.header__navbar .subMenu {
    display: none;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    text-transform: uppercase;
    max-width: 202px;
    background-color: #272727;
    position: absolute;
    top: calc(100% - 20px);
}

.header__navbar-item:hover > a {
    color: #ffe11b;
}

.header__navbar-item:hover .subMenu {
    display: block;
}

.header__navbar .subMenu a {
    color: #a5a5a5;
    padding: 3.5px 13.125px;
    font-size: 1.355rem;
    font-weight: 400;
}

.header__navbar .subMenu li {
    display: flex;
    padding: 5px 20px 5px 0;
}

.header .header__navbar a {
    text-decoration: none;
}

.header .subMenu .subMenu1 {
    display: none;
    text-transform: none;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    background-color: #272727;
    position: absolute;
    right: calc(100% - 390px);
    width: 190px;
}

.subMenu li:hover > a {
    color: #ffe11b;
}

.subMenu .nikeShoe:hover .subMenu1 {
    display: block;
}

.subMenu .adidasShoe:hover .subMenu1 {
    display: block;
}

.header .hotline {
    color: #b1b1b1;
}

.header .number-phone {
    color: #ffe11b;
}

/* .container {
    padding-top: 184px;
    padding-bottom: 1000px;
} */

.container .site-breadcrum {
    background-color: #252525;
    margin-bottom: 53px;
}

.container .site-breadcrum .contain {
    padding: 20px 0;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    
}

.container .site-breadcrum a {
    font-size: 1.7rem;
    text-decoration: none;
    color: #d8d8d8;
}

.container .site-breadcrum ul {
    list-style-type: none;
    padding: 0 0;    
    margin: 0 0;
}

.container .site-breadcrum li {
    line-height: calc(22/14);
}

.container #content {
    margin-bottom: 66px;
}

#content .container_content {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.section_header .container_section_header {
    width: 100%;
    margin-bottom: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #252525;
}

.container .section_header .section_title {
    color: #ffe11b;
    font-weight: 600;
    font-size: 2.35rem;
    line-height: 1.25;
    padding: 0 16px;
    margin-top: 0;
    margin-bottom: 0;
    border-left: 1px solid #ffe11b;
}

#content .table_orders {
    font-size: 1.6rem;
    color: #fff;
    width: 100%;
}

.table_orders th, 
.table_orders td {
    padding: 8px 15px;
    vertical-align: top;
}

.table_orders th {
    text-align: left;
}

.table_orders .describe_product a {
    text-decoration: none;
    color: #fff;
}

.table_orders .describe_product a:hover {
    color: #ffe11b;
}

.describe_product .size_product dt,
.describe_product .size_product dd {
    display: inline;
    text-align: left;
}

.table_orders .order_detail .update {
    max-width: 60px;
}

.table_orders .update .form-control {
    width: 100%;
    padding: 0 5px;
    line-height: 30px;
    text-align: center;
    background-color: #3b3b3b;
    border-radius: 3px;
    color: #fff;
    border: #3b3b3b;
}

.table_orders .update .form-control:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.table_orders .recycle .btn {
    color: #c40e0e;
    background: none;
    border-width: 0 0;
    cursor: pointer;
}

.table_orders .recycle .btn .ti-trash {
    margin-right: 3px;
    position: relative;
    top: 2px;
}

.table_orders {
    border-radius: 2px;
    border: 0.5px solid #303030;
    border-collapse: collapse;
    margin-bottom: 14px;
}

.table_orders th,
.table_orders td {
    border-top: 0.5px solid #303030;
}

.container .input_discount_code {
    padding: 5px 15px;
    border-radius: 20px;
    border-radius: 1px;
    border: none;
    line-height: 28px;
    background-color: #2e2e2e;
    color: #fff;
    font-weight: 400;
    font-size: 12.5px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    margin-right: 16px;
}

.container .input_discount_code::placeholder { 
    color: #fff;
    opacity: 0.8;
}

.container .input_discount_code:focus-visible {
    outline-width: 0;
}

.shop-voucher-total {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
}

.shop-voucher-total .btn {
    border: 1px solid #ffe11b;
    color: #ffe11b;
    padding: 3.5px 14px;
    background-color: #171717;
    width: 170px;
    font-size: 1.5rem;
    line-height: 1.5;
}

.shop-voucher-total .btn:hover {
    background-color: #2e2e2e;
    cursor: pointer;
}

#content .shop-total {
    color: #fff;
    font-size: 1.8rem;
    font-weight: bolder;
    text-transform: uppercase;
    padding-bottom: 24px;
    border-bottom: 1px solid #303030;
    margin-bottom: 48px;
}

#content .shop-total table {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.shop-total table td {
    padding: 10px 15px;
}

.shop-back {
    display: flex;
    justify-content: flex-end;
}

.shop-back .btn {
    text-decoration: none;
    color: #000;
    font-size: 1.7rem;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 4px;
    min-width: 216px;
    line-height: 34px;
    text-align: center;
}

.shop-back .btn-first {
    background-color: #fff;
    margin-right: 16px;
}

.shop-back .btn-first:active {
    opacity: 0.9;
}

.shop-back .btn-first:focus {
    color: #fff;
    background-color: #1d1d1d;
}

.shop-back .btn-secondary {
    background-color: #ffe11b;
}

.shop-back .btn-secondary:hover {
    opacity: 0.9;
}
